// Colors
// Colors-primary
$color-primary: #ffb700;
// $color-primary-light: #7ed56f;
// $color-primary-dark: #28b485;
// Colors-secondary
$color-secondary: rgb(150, 141, 141);
// $color-secondary-dark: #ff7730;
// Colors-tertiary
// $color-tertiary-light: #2998ff;
// $color-tertiary-dark: #5643fa;
// Colors-others
$color-grey-light-3: #ddd;
$color-paragraph: #666;
$color-hr: rgb(235, 232, 232);
// $color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
// Font
$default-font-size: 1.4rem;
$logo-text-font-size: 4rem;
// Grid
$grid-width: 80rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 10rem;
$gutter-horizontal-s: 1.5rem;
$gutter-search: 1.5rem;
$gutter-search-last: -10rem;