.feature-1{
    float: left;
    padding: 0 4rem 4rem 0;
}
.feature-2 {
    font-size: 1.6rem;
    line-height: 2.6rem;
}
.agent-img {
    border-radius: 50%;
    height: 16rem;
    width: 16rem;
    background-position: bottom;
}
.agent-name {
    text-transform: uppercase;
    padding-top: 3rem;
    font-weight: bold;
    font-size: 1.3rem;
    display: block;
}