.u-center-text {
    text-align: center;
}
hr {
    border-top: 1px solid $color-hr;
}

.u-uppercase {
    text-transform: uppercase;
}
// .u-margin-bottom-big {
//     margin-bottom: 8rem;
// }

// .u-margin-bottom-medium {
//     margin-bottom: 4rem;
// }

// .u-margin-bottom-small {
//     margin-bottom: 1.5rem;
// }