.body {
    &__search-box {
        padding: 50px 40px;
        width: calc((100%) / 1.68);
        box-shadow: 0 1rem 1.8rem rgba($color-black, 0.2);
        background-color: $color-white;
        position: absolute;
        border-radius: 5.5px;
        top: 57%;
        left: 20%;
    }
}

.section-featured-sales {
    max-width: 114rem;
    margin: 0 auto;
    background-color: $color-white;
    margin-top: 7rem;
    margin-bottom: 4rem;
    padding: 2rem;
}

.section-featured-rent {
    max-width: 114rem;
    margin: 0 auto;
    margin-bottom: 4rem;
    background-color: $color-white;
    padding: 1.5rem;
}

.section-exclusive {
    background-color: #ddd;
    padding: 2rem;
    padding-bottom: 10rem;
}

.section-agents {
    background-color: $color-white;
    padding: 2rem;
    padding-bottom: 10rem;
}

.section-perfect {
    background-color: $color-primary;
    padding: 2rem;
    padding-bottom: 8rem;
}
.section-news {
    max-width: 114rem;
    margin: 0 auto;
    padding-bottom: 8rem;
}
.section-footer {
    padding-top: 6rem;
    & h2 {
        padding-bottom: 2rem;
    }
    & ul li, & p {
        font-size: 1.5rem;
        list-style: none;
        padding-bottom: 1rem;
        & a {
            text-decoration: none;
            color: inherit;
        }
    }
    & .base {
        padding-bottom: 4rem;
    }
}